<div class="socks">
  <% @socks.each do |sock| %>
    <div class="one-sock">
      <%= image_tag sock.image_url %>
      <h4><%= sock.name %></h4>
      $<%= sock.price %>
    </div>
  <% end %>
</div>
