<div class="container socks" id="all_socks">
  <% @socks.each do |sock| %>
  <div class="one-sock col-md-4">
    <%= image_tag sock.image_url, size: "250x400" %>
    <h4><%= sock.name %>:</h4>
     $<%= sock.price %>, <%= sock.foot %>
  </div>
  <% end %>
</div>
