<div class="container socks row-well" id="all_socks">
  <% @socks.each do |sock| %>
  <div class="col-md-4 col-sm-6 one-sock">
    <div id="sock-index-image">
      <%= image_tag sock.image_url.url(:medium), size: "250x300" %>
    </div>
    <div id="sock-index-info">
      <h4 class="sock-label"><%= link_to sock.name, sock_path(sock) %></h4>
      $<%= sock.price %>, <%= sock.foot %> Foot
    </div>
  </div>
  <% end %>
</div>
