<div class="jumbotron container">
  <div class="col-md-5">
    <h1 class="display-3" id="labels">Welcome <%= @name %></h1><br>
    <p class="lead">Found yourself missing a sock? Feel like your dryer betrayed you? You've come to the right place.</p>

    <hr class="m-y-2">
    <p class="lead">
      <a class="btn btn-custom btn-lg" href="/socks" role="button">Find Your Perfect Sock</a>
    </p>
  </div>

  <div class="col-md-3 col-md-offset-1">
    <%= image_tag  "/buddy-socs.png", size: "400x400"%>
  </div>
</div>
