<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag asset_path('suits_and_socs.jpg'), class: 'carousel-img' %>
      <div class="carousel-caption">
        <h3>Socks For Every Occasion</h3>
      </div>
    </div>

    <div class="item">
      <%= image_tag asset_path('pic_one_front_page.jpg'), class: 'carousel-img' %>
      <div class="carousel-caption">
        <h3>Missing A Match?</h3>
      </div>
    </div>

    <div class="item">
      <%= image_tag asset_path('couch_socks.jpg'), class: 'carousel-img' %>
      <div class="carousel-caption">
        <h3>Kick Back, Relax, and Shop</h3>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">

  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">

  </a>
</div>
