<div class="container">
<h1>Order Summary</h1>

<h3>You have <%= @orders.count %> orders:</h3>

<table id="order-table" class="table table-hover">
<thead>
  <tr>
    <th>Order ID</th>
    <th>Date Ordered</th>
  </tr>
</thead>

<tbody id="one-order">
  <tr>
  <% @orders.each do |order| %>
  <td><%= link_to "#{order.id}", order_path(order) %></td>
  <td><%= order.created_at.strftime("Order placed on %A, %B %d, %Y at %I:%M %p") %></td>
  </tr>
  <% end %>
</tbody>
</table>
</div>
