<h1>Order Summary</h1>

<h4>You have <%= @orders.count %> orders:</h4>

<div id="one-order">
  <% @orders.each do |order| %>
    Order ID: <%= link_to "#{order.id}", order_path(order) %>
  <% end %>
</div>
