#flash_success {
  color: green;
}

body {
  background-color: rgba(123, 119, 108, 0.5);
}
.btn-custom {
  background-color: rgb(176, 224, 236);
}

.green-theme {
  color: rgb(108,187,76);
}

.blue {
  color: rgb(176, 224, 236);
}

.red {
  color: rgb(237, 74, 78);
}

.yellow {
  color: rgb(248, 238, 100);
}

.one-sock {
  padding-bottom: 10px;
}

.price {
  font-size: 26px;
}
